body {
  background-color: rgb(192, 246, 192);
}

h1 {
  font-size: 70px;
  font-family: "Amatic SC", cursive;
}

.step {
  font-size: 24px;
}

.kl {
  font-size: 29px;

  text-decoration: underline;
}

#btn_common {
  width: 90px;
  height: 50px;
  font-size: 20px;
  background-color: rgb(212, 241, 212);
}
#jk {
  font-weight: bold;
  font-size: 20px;
}
#back {
  width: 90px;
  height: 50px;
  font-size: 20px;
  background-color: rgb(212, 241, 212);
}

#qw{
position: fixed;
bottom: 0;
width: 100%;
text-align: center;
}
img:hover{
  border-radius: 140px;
  
}